
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_name %>
</p>

<p>
  <strong>Or:</strong>
  <%= @book.subtitle %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Published:</strong>
  <%= @book.published %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @book.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  (img)
  <%= @book.image %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Amazon Link:</strong>
  <%= @book.amazon_link %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %>
<%= link_to 'Back', books_path %>
